* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* También puedes especificarlo para html y body si lo prefieres */
html, body {
  margin: 0;
  padding: 0;
} 
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f6fc;
  color: #333;
}

/* Menú Horizontal */ 
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: 	#0000FF;
  display: flex;
}

.menu li {
  position: relative;
}

.menu li a {
  display: block;
  padding: 14px 20px;
  color: #fff;
  text-decoration: none;
}

.menu li:hover {
  background-color: #444;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #0f27f6;
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu li a {
  padding: 10px 20px;
}

.menu li:hover .submenu {
  display: block;

}

/* Contenido principal */
.contenido {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
}

h1 {
    color: #0066cc;
}

/* Formulario */
form {
    background: #cbd3f0;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    background-color: #3498db;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}