body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.contenedor {
  background-color: white;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  margin-bottom: 20px; 
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
}

input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #004080;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #004080;
}

.mensaje {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

   table {
            width: 90%;
            margin: 20px auto;
            border-collapse: collapse;
            background-color: #fff;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
        }

        th, td {
            padding: 12px 15px;
            text-align: center;
            border-bottom: 1px solid #ccc;
        }

        th {
            background-color: #004080;
            color: white;
        }

        tr:hover {
            background-color: #f1f1f1;
        }
.tabla-notas {
  width: 90%;
  margin: 3px auto;
  padding: 2px;
  background-color: white;
  border-radius: 1px;
}

/*-------------------------------------------MENU LATERAL------------------------------------------------*/
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: 	#0000FF;
  display: flex;
}

.menu li {
  position: relative;
}

.menu li a {
  display: block;
  padding: 14px 20px;
  color: #fff;
  text-decoration: none;
}

.menu li:hover {
  background-color: #444;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #0f27f6;
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu li a {
  padding: 10px 20px;
}

.menu li:hover .submenu {
  display: block;
}
/*-------------------------------------------------------------------------------------------------------------*/